.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px lightblue;
}

.note {
    font-size: 15px;
    color: lightgrey;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: dimgrey;
    color: lightgrey;
    text-align: center;
}

canvas {
    border: 5px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightblue;
}